body {
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    -webkit-font-smoothing: antialiased;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.base__button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #c4c4f8;
    border-radius: 40px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.base__button:hover {
    background-color: #b9b9f0;
}

.base__button--intro {
    color: #fff;
}

.base__button-signup {
    border: none;
}

/* Header */

.header {
}

.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.toggle__menu {
    display: none;
    margin-left: 30px;
    width: 52px;
    height: 52px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.toggle__menu span {
    width: 100%;
    height: 3px;
    background-color: #3f3f3f;
}

.toggle__menu span::before,
.toggle__menu span::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3f3f3f;
    position: absolute;
}

.toggle__menu span::before {
    top: 10px;
}

.toggle__menu span::after {
    bottom: 10px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: #333333;
}

.nav {
    font-size: 18px;
    font-weight: 500;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item {
    display: inline-block;
    margin-right: 40px;
}

.nav__item a {
    color: #333333;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    transition: border-color linear 0.15s;
}

.nav__item a:hover {
    border-color: #8e8eff;
}

/* Intro */

.intro {
    margin: 100px 0;
}
.intro__inner {
    display: flex;
    flex-wrap: wrap;
}

.intro__inner-info {
    max-width: 40%;
}

.intro__title {
    margin: 40px 0 15px;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
}

.intro__suptitle {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: rgb(255, 196, 0);
}

.intro__text {
    margin-bottom: 60px;
    padding-right: 20px;
    color: rgb(124, 124, 124);
}

.intro__inner-img {
    width: 60%;
}

.intro__inner-img img {
    display: block;
    max-width: 100%;
}

/* Sign Up */

.signup {
    width: 500px;
    padding: 60px 30px;
    margin: 50px auto;

    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.alert{
    margin-bottom: 30px;
}

.alert-success {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(0, 129, 39);
    background-color: rgb(180, 255, 177);
    border-radius: 10px;
}

.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__block {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form__label {
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

.form__input {
    width: 100%;
    min-width: 220px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form__input:focus {
    background-color: #e0e0fd;
}

.invalid__feedback {
    display: block;
    color: red;
}
@media (max-width: 900px) {
    /* Intro */
    .intro {
        margin: 50px 0;
    }
    .intro__inner-info {
        max-width: 100%;
        margin: 0 auto 50px;
        text-align: center;
    }
    .intro__text {
        width: 80%;
        margin: 0 auto 40px;
    }
    .intro__inner-img {
        min-width: 100%;
    }
}

@media (max-width: 800px) {
    /* Nav */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9;
    }
    .nav ul {
        margin: 0;
        flex-wrap: wrap;
        background-color: #e0e0fd;;
    }
    .nav__item {
        width: 100%;
        padding: 15px 0;
        font-size: 25px;
        text-align: center;
    }
    .nav.active {
        display: block;
    }
    .toggle__menu {
        display: flex;
    }
}

@media (max-width: 450px) {
    /* Sign up */
    .signup {
        width: 100%;
    }
}

@media (max-width: 400px) {
    /* Intro */
    .intro__title {
        font-size: 70px;
    }

    .intro__suptitle {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .base__button-nav {
        position: absolute;
        white-space: nowrap;
        top: 70px;
        right: 15px;
    }
    .signup {
        margin-top: 65px;
    }
    .form__block {
        margin-bottom: 30px;
        display: block;
    }
    .form__label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
    }
}

@media (max-width: 330px) {
    /* Intro */
    .intro__title {
        font-size: 60px;
    }

    .intro__suptitle {
        font-size: 25px;
    }
}
